* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Cards_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cards_cols {
    height: 450px;
    width: 950px !important;
    padding: 0 !important;
    
}
.Card {
    height: 100%;
    border-radius: 30px;
    transition: 1s;
}
.Card_body {
    height: 100%;
    border-radius: 30px;
    margin-left: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    
}
.selected{
    margin-left: 20px;
    margin-bottom: 20px;
    
}
#card_1{
    background: url(../images/img1.jpg) ;
    }
    #card_2{
    background: url(../images/img2.jpg);
    }
    #card_3{
    background: url(../images/img3.jpg);
    }
    #card_4{
    background: url(../images/img4.jpg);
    }
    .card_number{
        background-color: aliceblue;
        font-size: 20px;
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 8px;
        border-radius: 100%;
        transition: 0.5s;
    }